.card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 75px;
  width: calc(100% - 30px);
  min-height: 250px;
  /* Унифицированная минимальная высота */
}

.card__item {
  border: 3px grey solid;
  padding: 20px;
  min-height: 250px;
  border-radius: 15px;
  background: linear-gradient(135deg, #2564a7, #1a3d6d, #4a90e2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card__heading {
  font-size: 32px;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Скрываем лишние элементы */
  max-height: 80px;
  /* Начальная высота для 2 элементов */
  transition: max-height 0.5s ease-in-out;
  /* Плавное открытие/закрытие */
}

.list--expanded {
  max-height: 500px;
  /* Высота для всех элементов */
}

.list--collapsed {
  max-height: 80px;
  /* Высота для свернутого состояния */
}

.list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list__smile {
  padding-right: 10px;
}

.list__button {
  border: 0;
  background-color: #2564a7;
  width: 110px;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1.9px;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: flex-end;
}